header {
    display: flex;
    width: 100%;
    max-width: 426px;
    margin-bottom: 32px;
    justify-content: center;
    flex-direction: column;

}

.linha1 {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.produtoInfo {
    position: relative;
    left: -50%;
    transform: translateX(50%) ;
    font-size: 22px;
    font-weight: 700;
}
#iconArrow{
    touch-action: manipulation;
    cursor: pointer;
    padding-left: 24px;
    color: #1c1c1c;
}

header p {
    text-align: center; 
    font-size: 16px;  
}
