.sugestao .sugestaoLabel {
    display: flex;
    align-items: center;
}

.sugestaoLabel {
    margin: 24px 0 16px;
}
.sugestaoLabel p {
    padding-left: 8px;
    font-weight: 700;
    margin: 0;
    
}

#iconMessage {
    padding-left: 24px;
}
#inputArea {
    resize: none;
    margin: 0;
    align-items: center;
    
    
    width: 100%;
    height: 150px;
    border: #dddd 1px solid;
    border-radius: 4px;

}
#inputArea:focus{
    color: #1c1c1c;
    
    /* olhar com atenção depois */

}
#inputArea::placeholder {
    color: #dddd;
    font-size: 16px;
    position: absolute;
    top: 16px;
    left: 16px;

}


.btnAvancar {
    touch-action: manipulation;
    width: 100%;
    color: #1c1c1c;
    background-color: #FAE319;
    padding: 20px 0;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    margin-top: 32px;
}


