.produto {
    width: 100%;
    height: 90px;
    display: flex;
    margin-bottom: 12px;
    align-items: center;
    justify-content: space-between;

    background-color:  rgb(117, 34, 138);
    border-radius: 8px;

}

.sobreProduto{
    padding-left: 24px;
    
}

#txtProduto {
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 8px;
    margin: 0;

}

#txtPreco {
    color: #FAE319;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.fotoProduto {
    width: 64px;
    height: 64px;
    border-radius: 4px;
    padding-right: 24px;
    
    

}