/* cabeçalho */
#bgPerfil {
  width: 100%;
  max-width: 426px;
  height: 70px;
  background-color: #75228A;
}

#foto {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}
#bgFoto {
  width: 110px;
  height: 110px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
} 

#fotoPerfil {
  width: 100px;
  height: 100px;
  border-radius: 100px;

}

#lbtitulo {
  position: absolute;
  top:120px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
  font-weight: 700;

}

/* informações */
.containerInfo {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}

.containerInfo .info1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 24px;
}

#divpedidos {
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
}


#lbEstado{
  color: #03A04C;
  font-size: 16px;
  font-weight: 700;
}

.fechado {
  color: #D00920;
  font-size: 16px;
  font-weight: 700;
}

#iconInfo {
  touch-action: manipulation;
 cursor: pointer;
 color:#75228A;
 padding-right: 24px;
}