#footer-page {
    width: 100%;
    height: 100px;
    background-color: #525073;
    position: absolute;
    bottom: 0;
   
    display: none;
    justify-content: center;
    align-items: center;

}

#footer-page p {
    color: white;
    font-size: 14px;
}