@import 'header.css';
@import 'tab.css';
@import 'modal-info-store.css';
@import 'modal-recheio.css';
@import 'footer.css';

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #1C1C1C;
  background-color: #F2F1EF;
  overflow-x: hidden;
}

h1, h2 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

span, p {
  font-size: 16px;
  font-weight: 300;
  font-family: sans-serif;
}