@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'header.css';
@import 'tab.css';
@import 'modal-info-store.css';
@import 'modal-recheio.css';
@import 'footer.css';

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  color: #1C1C1C;
  background-color: #E0DAE5;
  overflow-x: hidden;
  
}

h1, h2 {
  font-size: 20px;
}

span, p {
  font-size: 16px;
  font-weight: 300;
  font-family: sans-serif;
}