
.bg-modal-recheio{
    background-color: rgba(0, 0, 0, .3);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: flex-end;
    align-items: center;
}

.modal-recheio {
    background-color: white;
    width: 550px;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    position: absolute;
    animation: openModalRecheio .5s ease-in-out;
   
}

.main-section {
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
/* animação de entradada */
@keyframes openModalRecheio {
    0% {
        position: absolute;
        right: -500px;
    }
    100% {
        right: 0;
    }
}

.header-modal-recheio {
    width: 100%;
    position: fixed;
    background-color: white;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2); 
}

.items-header-modal-recheio {
    display: flex;
    align-items: center;
    padding: 16px 0;
}
.header-modal-recheio h1 {
    margin-left: 16px; 
}

.bg-icon-back {
    display: flex;
    align-items: center;
    margin-left: 16px;
    background-color: #F2F2F2;
    border-radius: 8px;
    padding:10px 16px ;
    cursor: pointer;
}
.bg-icon-back:active {
    animation: btnBackModal .15s;
}

@keyframes btnBackModal {
    50% {
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2) inset;
        transform: scale(.9);
    }
    
}

/* imagem do modal */
.img-modal-recheio {
    
    width: 100%;
    height: auto;
    object-fit: cover;
    

}
/* textos do modal recheio */
.info-modal-recheio {
    width: 100%;
    height: auto;
    margin-top: 64px;
    margin-left: 16px;
}

.section-modal-recheio {
    font-size: 14px;
    font-weight: 600;
}
.info-modal-recheio h1 {
    font-size: 24px;
    font-weight: 300;
    margin-top: 8px;
}
.price-modal-recheio {
    font-size: 18px;
    font-weight: 300;
    margin-top: 16px;
}

.obs-modal-recheio {
    font-size: 15px;
    font-weight: 600;
    margin-top: 24px;
    color: #11A857;
    margin-bottom: 16px;
}

#content-product {
    margin-top: 70px;
}
/* estilo da seção */
.qtd-recheio {
    background-color: #F2F1EF;
    padding: 16px 0;
}
.qtd-recheio-geral {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    background-color: #D9D9D9;
    padding: 16px 0; 
}

.title-qtd-recheio {
    font-size: 15px;
    font-weight: 600;
    margin-left: 16px;
}

.cont-qtd-recheio {
    margin-top: 8px;
    font-size: 15px;
    color: #6D6D6C;
}

.items-cont-recheio {
    display: flex;
    margin-left: 16px;
}

.recheio {
    margin-top: 32px;
    margin-bottom: 90px;
    display: none;
}

.items-recheios {
    background-color: #522E73;
    padding-top: 1px;
    padding-bottom: 24px;
}

.item-recheio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 24px;
}

.btn-quantidade {
    display: flex;
    align-items: center;
    
}

.btn-quantidade p {
    padding: 0 16px;
}


/* footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: white;
    position: fixed;
    bottom: 0;
    padding: 16px 32px;
    box-shadow: 0 -2px 5px 2px rgba(0, 0, 0, 0.05);
}

.items-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-qtd-footer {
    display: flex;
    align-items: center;
    border: #F2F2F2 1px solid;
    border-radius: 8px;
    padding: 16px 10px ;
    margin-right: 16px;
}
.btn-qtd-footer p {
   padding: 0 20px;
   width: 50px;
   font-weight: 600px;
   font-size: 18px;
   text-align: center;
}

.btn-continue {
    background-color: #FFCC59;
    padding: 21px 70px;
    border-radius: 8px;
    transition: background-color .5s;
    cursor: pointer;
    display: flex;
}

.btn-continue p {
    font-weight: 600;
    font-size: 18px;
}

.btn-continue-disable {
    background-color: #FFE099;
    color: #6D6D6C;

    pointer-events: none;
}

#btn-add-footer {
    cursor: pointer;
}

#btn-minus-footer {
    cursor: pointer;
}


.section-active {
    display: block;
}

#type-acai {
    display: flex;
    flex-direction: column;
}

.acai-radio {
    background-color: #522E73;
    color: white;
    font-family: sans-serif;
}

#acai-tradicional {
    margin-top: 24px;
    margin-left: 16px;
}
#acai-cremoso {
    margin-bottom: 24px;
    margin-top: 24px;
    margin-left: 16px;
}


.sugestoes {
    margin-bottom: 70px;
    width: 100%;
    height: auto;

    position: relative;
    bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-sugestao {
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-bottom: 16px;
}


.text-sugestao svg {
    width: 20px;
    margin-right: 8px;
}
.sugestoes textarea {
    margin: 0 16px;
    resize: none;
    padding: 8px;
    height: 200px;
    border-radius: 8px;
}

.sugestoes textarea:focus {
    border-color: #522E73;
}