.modalinfo {
    width: 312px;
    height: 255px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 5px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    animation: animate;
    animation-duration: 600ms;
  }
  /* animação de abertura do modal */
  @keyframes animate {
  
    from{opacity: 1;}
    from{opacity: 0;}
  }
  
  #lbmaisinfo {
    color: #75228a;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -24px;
    margin-bottom: 32px;
  
    
  }
  #iconarrow {
    margin-top: 24px;
    margin-left:24px;
    color: #1C1C1C;
    cursor: pointer;
    display: inline-block;
  
  }
  
  .txtinfo {
    margin: 0 16px 24px;
  }
  
  #btncopiarlink {
    border: none;
    padding: 10px;
    background-color: rgb(117, 34, 138);
    color: white;
    font: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
    transform: translateX(-50%);
  }
#iconcopy{
    padding-right: 5px;
}
