.modalMaisInformacoes {
    width: 312px;
    height: 255px;
    border-radius: 8px;
    background-color: white;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    animation: animate;
    animation-duration: 600ms;
  }
  /* animação de abertura do modal */
  @keyframes animate {
  
    from{opacity: 1;}
    from{opacity: 0;}
  }
  
#lbMaisInformacoes {
    color: #75228a;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -24px;
    margin-bottom: 32px;
  
  }
#iconArrow {
    margin-top: 24px;
    margin-left:24px;
    color: #1C1C1C;
    cursor: pointer;
    display: inline-block;
  
  }
  
  .txtInfo {
    margin: 0 16px 24px;
  }
  
#btnCopiarLink {
    border: none;
    padding: 10px;
    background-color: rgba(117, 34, 128, .7);
    color: white;
    font: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
    transform: translateX(-50%);
  }
#iconCopy{
    padding-right: 5px;
}
#textURL {
  display: none;;
}
