.tab {
    max-height: 35px;
    margin-top: 24px;
     background-color:#F2F1EF;
}

.tab-button {
    font-size: 18px;
    font-weight: 400;
    background-color: transparent;
    border: none;
    color: #1C1C1C;
    padding: 3px 16px;
    margin-left: 16px;


    transition: all .4s;

}

/* conteudo da seção */

.title {
    margin-left: 16px;
    margin-top: 24px;
}

.title p{
    margin-top: 8px;
    font-weight: 600;
    font-size: 12px;
}

.active {
    color: white;
    background-color: #522E73;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-bottom: 15px;
    transition: all .5s initial;
    box-shadow: 3px 2px 8px 1px rgba(0, 0, 0, 0.2)
}

.products {
    display: flex;
    justify-content: space-around;
    max-width: 1366px;
    flex-wrap: wrap;
}


.line-header2 {
    width: 100%;
    height: 3px;
    background-color: #522E73;
}

.line-product {
    width: 100%;
    margin-top: -7px;
    height: 6px;
    background-color: #522E73;

}
.product {
    margin-top: 24px;
    width: 390px;
    border-radius: 4px;
    height: 380px;
    background-color: white;
    cursor: pointer;
    transition: all .3s;
    border: 1px rgba(0, 0, 0, 0.09) solid;
    transition: all .3s;
}

.product:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.09);
}

.product img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.info-product {
    margin-top: 16px;
    margin-left: 16px;
}

.name-product {
    display: inline;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 400;
    color: #1C1C1C;
}

.obs-product {
    font-size: 15px;
    font-weight: 600;
    margin-top: 16px;
    color: #11A857;
}

.price-product {
    font-size: 18px;
    font-weight: 400;
    margin-top: 48px;
    color: #1C1C1C;
}