.tab {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 24px;
  }
  
  .conteudo {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }
  
.tab button {
    border: none;
    background-color: white;
    color: #DDDDDD;
    font-size: 16px;
    font-weight: 700;
  }

  .tab button.ativo {
    color: rgb(117, 34, 138);
    font-size: 16px;
    font-weight: 700;
    border-bottom: 3px solid #FAE319;
  }